body {
  width: 20rem; /* Set the body width to half of the viewport width */
  overflow: hidden; /* Hide scrollbar if necessary */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.questions{
  display: flex;
}

.question {
  margin-bottom: 10px;
}