
.content{
  width: 20rem; /* Set the width to 20% of the viewport width */
}

.questions{
  display: flex;
}

.question {
  margin-bottom: 10px;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}